.container-data-time {
  margin-left: 1rem;
}

.container-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
}

.container-task-name {
  margin-bottom: 1.2rem;
  margin-left: 1rem;
}

.container-description {
  margin-bottom: 1.2rem;
  margin-left: 1rem;
}

.container-references {
  margin-left: 1rem;
}

.contianer-add-reference {
  width: 70%;
  padding-top: 1.75rem;
  padding-bottom: 2.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  background-color: aliceblue;
}

.container-reference-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.description-title strong {
  margin-right: 0.75rem;
}

.description-title i {
  opacity: 0.75;
}

.container-date-picker {
  width: 15rem;
  margin-bottom: 0.75rem;
}

.container-time-picker {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.75rem;
}

.time-zone-selector {
  width: 15rem;
}

.container-data-time {
  margin-bottom: 2rem;
}

.button-container {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}